.App {
    text-align: center;
    height: 100%;
}

.questions{
    height: 100%;
}

.question-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}