@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

.masthead-component.masthead-component + * > *:first-child > *:first-child:before{
  height: 0px;
}

.app {

}

.intro-image{
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 90px;
}

.colorized{
  color: #22b573;
}

.pseudo-link{
  text-decoration: underline;
}

.title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    z-index: 2;
    background-color: #fbd249;
    /*background-color: #22b573;*/

    /*background-image: url(./images/intro_background-07.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

.title-special{
  text-decoration: underline;
}

h1{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 60px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    margin-bottom: 40px !important;
    line-height: 1.1;
}

.inverted h1{
  color: white;
}

.title h1{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    line-height: 1.15em;

    /*color: #22b573;*/
    letter-spacing: -2px;
    font-weight: 500;
}

.title h2.surtitre{
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0px;
}

h2, h2:first-child, h2:last-child{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 40px;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

p{
  font-family: "PT Serif";
  line-height: 1.55em;
}

.authors{
  font-family: Benton Sans Cond,Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
  font-size: 0.85em;
  line-height: 1.4em;
  margin-bottom: 40px;
}

span.special{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  margin-top: 20px;
}

.templates-selector{
  width: 100px;
  height: 100px;
  position: fixed;
}

.app.style-0{
  background: #f5f6f7;
}

.app.style-1{
  background: #31bf7d;
}

.app.style-2{
  background-image: linear-gradient(148deg, #3391e5 37.57%, #ffffff 37.57%, #ffffff 50%, #3391e5 50%, #3391e5 87.57%, #ffffff 87.57%, #ffffff 100%);
  background-size: 318.92px 199.28px;
  background-attachment: fixed;
}

.app.style-3{
  background-image: linear-gradient(90deg, #24a66e 27.24%, #22b573 27.24%, #22b573 50%, #24a66e 50%, #24a66e 77.24%, #22b573 77.24%, #22b573 100%);
  background-size: 558.00px 558.00px;
  background-attachment: fixed;
}

.app.style-4{
  background-image: linear-gradient(90deg, #3391e5 27.24%, #ffffff 27.24%, #ffffff 50%, #3391e5 50%, #3391e5 77.24%, #ffffff 77.24%, #ffffff 100%);
  background-size: 558.00px 558.00px;
  background-attachment: fixed;
}
.app.style-5{
  background-image: linear-gradient(90deg, #ffbb40 27.19%, #0e0e54 27.19%, #0e0e54 50%, #ffbb40 50%, #ffbb40 77.19%, #0e0e54 77.19%, #0e0e54 100%);
  background-size: 570.00px 570.00px;
  background-attachment: fixed;
}

.app.style-5{
  background-image: linear-gradient(90deg, #333333 27.19%, #ffffff 27.19%, #ffffff 50%, #333333 50%, #333333 77.19%, #ffffff 77.19%, #ffffff 100%);
  background-size: 570.00px 570.00px;
  background-attachment: fixed;
}

.questions{

}

.question-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border-bottom:0px;
    flex-direction: column;
}

.shortcut{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    opacity: 0.4;
    margin-top: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #333;
    display: block;
}

.shortcut:hover, .shortcut:active, .shortcut:visited { color:#333; }

.start-touch{
    display: inline-block;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 18px;
    border: 3px solid #212121;
    transition: transform 100ms ease-in;
}

.start-touch:hover{
    transform: translate(0px, -4px);
}

.container-zoom{ background-color: #f5f6f7; }
.container-swiss{ background-color: #ffffff; }

.ui.segment.text-chapter{
  padding-top: 60px !important;
  margin-bottom: 90px !important;
}

.container-zoom p, .container-swiss p{
  font-family: "PT Serif", Serif;
  font-size: 18px;
  line-height: 1.5;
}

.start-block{
  text-align: center;
  margin-top: 20px;
}

.section-number{
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background-color: #ffce4d;
  width: 50px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
  color: #333 !important;
  transform: rotate(-5deg);
  box-shadow: 3px 3px 9px rgba(0,0,0,0.1);
}

.downbait{
  width: 90px;
  height: 120px;
  position: absolute;
  left:50%;
  top:-90px;
  margin-left: -45px;
  background-color: red;
  border-radius: 60px 60px 0 0;
  background-color: #f5f6f7;
  box-shadow: 0px -6px 10px rgba(0,0,0,0.3);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  background-image: url("./images/ui-01.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center 20px;
  display: none;
}

.downbait.inverted{
  background-color: #252525;
  background-image: url("./images/ui-02.png")
}

#section-1{
  padding-bottom: 90px;
}

.section-number.small{
  width: 35px;
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
  font-size: 20px;
  margin-top: -20px;
  background-color: #ffce4d;
}

.section-number.small:nth-child(even){
  transform: rotate(2deg);
}

.ui.container.pronocards-container{
  padding: 60px 0px 40px 0px;
  text-align: center;
  width: 100%;
  margin: 80px 0px !important;
  background-color: #ffce4d;
}

.title-bloc{
  margin-top: 90px;
  margin-bottom: 17px;
}

.stat-bloc{
  border-top: 1px solid rgba(0,0,0,0.05);
  padding-bottom: 0px;
  margin-top: 60px;
}

.story-hint{
  color: #333;
  font-family: Benton Sans Cond,Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
}
.story-hint.inverted{
  color:white;
}
.story-hint.quote p{
  font-family: "Oswald", sans-serif;
  line-height: 1.1em;
  font-size: 30px;
  text-transform: uppercase;
  color: #f5f6f7;
  display: inline;
  background-color: #333;
  font-weight: 300;
  box-shadow: -8px 0 0 #333, 8px 0 0 #333;
}

.story-hint .section-number{
  margin-bottom: 20px;
}

.special-panel{
  font-family: "Oswald", sans-serif;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f5f6f7;
  box-shadow: 0px 2px 4px -2px grey; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  display: inline-block;
}

.special-dot{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #ffce4d;
  display: none;
}

.archive-image{
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}

.archive-image{
  transform: rotate(2deg);
}

.archive-caption{
  color: #333;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.section-stars{
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}


body .inverted a[href],
body .inverted a[href]:hover{
  color: #ffffff ;
}
/* FOOTER ADJUSTMENTS */

footer{
  background-color: #f5f6f7 !important;
  border-top: 1px solid rgba(0,0,0,0.075) !important;
  color: #333 !important;
}

footer .ui.inverted.definition.table tr td {
  color: #333 !important;
}

footer a, .user-feedback-container a {
  color: #f7b302 !important;
}

footer .ui.message, footer .ui.message.ui.list .list>.item .header, .ui.list>.item .header {
  background: transparent;
  color: #333;
  font-size: 0.975em;
}

footer .ui.message {
  margin: 0 0 0.6em;
  padding: 0.4em 0.6em;
}

footer .icon.message {
  background: transparent;
}


.ui.buttons:not(.basic):not(.inverted)>.button, .ui.buttons>.ui.button:not(.basic):not(.inverted) {
  color: #f7b302 !important;
}

footer .column table tr td:first-child {
    font-family: Benton Sans Cond,Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 0.92em;
    line-height: 1.4em;
  }

footer .teaser-section {
  text-align: center;
}

footer .portfolio-teaser {
  width: 55%;
}

footer .sharing .ui.button {
  background: transparent;
  text-align: left;
}

footer .sharing .ui.button:hover {
  background: #fff;
}

footer .ui.labeled.icon.button, footer .ui.labeled.icon.buttons .button {
  padding-left: 2.7em !important;
}

footer .ui.labeled.icon.button>.icon, footer .ui.labeled.icon.buttons>.button>.icon {
  background: transparent;
}

footer .copyright {
  margin-top: 1em;
}


@media screen and (max-width: 599px) {
  img.icon.step {
    max-width: 100%;
  }
  .ui.container.no-marg {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .description p {
    font-size: 0.85em;
  }
  .half-column h4 {
    padding-left: 1.2em;
  }
  footer .portfolio-teaser {
    width: 100%;
    padding: 0.5em 0;
  }
  footer .teaser-section {
  border-bottom: none;
  }
  footer .copyright {
    text-align: center;
  }
  .CopyrightNotice {
    padding-top: 0.5em !important;
  }
  footer.ui.vertical.segment {
    padding-top: 1.5em !important;
  }
  footer .ui.stackable.divided:not(.vertically).grid>.row>.column {
    padding-top: 1em !important;
    padding-bottom: 0.5em !important;
  }
  footer .ui.table:not(.unstackable) tr, .ui.table:not(.unstackable) tr {
    width: 100%;
  }
  footer .ui.table:not(.unstackable) tr>td, .ui.table:not(.unstackable) tr>th {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  footer .ui.table:not(.unstackable) tr:last-child {
    box-shadow: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  footer .column table tr td {
    display: block;
    padding: 0 1em;
  }
  .ui.table:not(.unstackable) tr>th, footer .ui.table:not(.unstackable) tr>td {
    padding-bottom: 0.3em !important;
  }
  footer .ui.basic.table tbody tr {
    border-bottom: none;
  }
  footer .column table tr {
    display: inline-block;
    margin-bottom: 1em !important;
  }
  footer .ui.message {
    text-align: center;
    padding: 0.4em 1.6em 0 .6em;
    margin-bottom: 1em;
  }
  .ui.list .list>.item>.icon+.content, .ui.list .list>.item>.image+.content, .ui.list>.item>.icon+.content, .ui.list>.item>.image+.content {
    padding: 0 0 0 .2em;
  }
  footer .sharing .ui.button {
    text-align: center;
  }
  footer .ui.labeled.icon.button, footer .ui.labeled.icon.buttons .button {
    padding-left: 3em !important;
  }
  footer .share {
    text-align: center;
    margin: 0.5em 0 1em;
  }
  .story-hint.video-teaser .hint-container {
    padding: 0 0 0 1em;
    line-height: 1.2em;
  }
  #vote-table.ui.table tr {
    box-shadow: none !important;
  }
}

@media screen and (min-width: 599px) {
  footer .column table {
      margin-top: 1em;
    }
    footer .column table tr td {
      vertical-align: top;
      padding-bottom: 1em;
    }
    footer .column table tr td:first-child {
      padding-right: 1em;
    }
    .ui.container.user-feedback-container {
      padding: 0 3em;
  }
}

@media screen and (min-width: 769px) {
    .ui.container.user-feedback-container {
      padding: 0 6em;
  }
}


  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {

    .intro-image{
      width: 300px;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    .title h1{
      font-size: 60px;
    }
    .question-container{
      border-bottom:1px solid rgba( 0,0,0,0.1 );
    }
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {


  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {


  }