@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');


.app {

}

.colorized{
  color: #22b573;
}

.title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    z-index: 2;
    background-color: #ffce4d;
    /*background-color: #22b573;*/

    /*background-image: url(./images/intro_background-07.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

h1{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 60px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    margin-bottom: 40px !important;
}

.inverted h1{
  color: white;
}

.title h1{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 60px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.15em;
}

.title h2.surtitre{
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    font-weight: 400;
}

h2, h2:first-child{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 40px;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  margin-top: 20px;
}

p{
  font-family: "PT Serif";
}

.templates-selector{
  width: 100px;
  height: 100px;
  position: fixed;
}

.app.style-0{
  background: #f5f6f7;
}

.app.style-1{
  background: #31bf7d;
}

.app.style-2{
  background-image: linear-gradient(148deg, #3391e5 37.57%, #ffffff 37.57%, #ffffff 50%, #3391e5 50%, #3391e5 87.57%, #ffffff 87.57%, #ffffff 100%);
  background-size: 318.92px 199.28px;
  background-attachment: fixed;
}

.app.style-3{
  background-image: linear-gradient(90deg, #24a66e 27.24%, #22b573 27.24%, #22b573 50%, #24a66e 50%, #24a66e 77.24%, #22b573 77.24%, #22b573 100%);
  background-size: 558.00px 558.00px;
  background-attachment: fixed;
}

.app.style-4{
  background-image: linear-gradient(90deg, #3391e5 27.24%, #ffffff 27.24%, #ffffff 50%, #3391e5 50%, #3391e5 77.24%, #ffffff 77.24%, #ffffff 100%);
  background-size: 558.00px 558.00px;
  background-attachment: fixed;
}
.app.style-5{
  background-image: linear-gradient(90deg, #ffbb40 27.19%, #0e0e54 27.19%, #0e0e54 50%, #ffbb40 50%, #ffbb40 77.19%, #0e0e54 77.19%, #0e0e54 100%);
  background-size: 570.00px 570.00px;
  background-attachment: fixed;
}

.app.style-5{
  background-image: linear-gradient(90deg, #333333 27.19%, #ffffff 27.19%, #ffffff 50%, #333333 50%, #333333 77.19%, #ffffff 77.19%, #ffffff 100%);
  background-size: 570.00px 570.00px;
  background-attachment: fixed;
}

.questions{

}

.question-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-bottom:0px
}

.shortcut{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    opacity: 0.4;
    margin-top: 20px;
    text-decoration: underline;
}

.start-touch{
    display: inline-block;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 18px;
    border: 3px solid #212121;
    transition: transform 100ms ease-in;
}

.start-touch:hover{
    transform: translate(0px, -4px);
}

.container-zoom{ background-color: #f5f6f7; }
.container-swiss{ background-color: #ffffff; }

.ui.segment.text-chapter{
  padding-top: 60px !important;
  margin-bottom: 90px !important;
}

.container-zoom p, .container-swiss p{
  font-family: "PT Serif", Serif;
  font-size: 18px;
  line-height: 1.5;
}

.start-block{
  text-align: center;
  margin-top: 20px;
}

.section-number{
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background-color: #ffce4d;
  width: 50px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
  color: #333 !important;
  transform: rotate(-5deg);
  box-shadow: 3px 3px 9px rgba(0,0,0,0.1);
}

.section-number.small{
  width: 35px;
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
  font-size: 20px;
  margin-top: -20px;
  background-color: #22b573;
}

.title-bloc{
  margin-top: 90px;
  margin-bottom: 17px;
}


/* FOOTER ADJUSTMENTS */

footer{
  background-color: #f5f6f7 !important;
  border-top: 1px solid rgba(0,0,0,0.075) !important;
  color: #333 !important;
}

footer .ui.inverted.definition.table tr td {
  color: #333 !important;
}

footer a, .user-feedback-container a {
  color: #22b573 !important;
}

footer .ui.message, footer .ui.message.ui.list .list>.item .header, .ui.list>.item .header {
  background: transparent;
  color: #333;
  font-size: 0.975em;
}

footer .ui.message {
  margin: 0 0 0.6em;
  padding: 0.4em 0.6em;
}

footer .icon.message {
  background: transparent;
}


.ui.buttons:not(.basic):not(.inverted)>.button, .ui.buttons>.ui.button:not(.basic):not(.inverted) {
  color: #22b573 !important;
}

footer .column table tr td:first-child {
    font-family: Benton Sans Cond,Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 0.92em;
    line-height: 1.4em;
  }

footer .teaser-section {
  text-align: center;
}

footer .portfolio-teaser {
  width: 55%;
}

footer .sharing .ui.button {
  background: transparent;
  text-align: left;
}

footer .sharing .ui.button:hover {
  background: #fff;
}

footer .ui.labeled.icon.button, footer .ui.labeled.icon.buttons .button {
  padding-left: 2.7em !important;
}

footer .ui.labeled.icon.button>.icon, footer .ui.labeled.icon.buttons>.button>.icon {
  background: transparent;
}

footer .copyright {
  margin-top: 1em;
}


@media screen and (max-width: 599px) {
  img.icon.step {
    max-width: 100%;
  }
  .ui.container.no-marg {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .description p {
    font-size: 0.85em;
  }
  .half-column h4 {
    padding-left: 1.2em;
  }
  footer .portfolio-teaser {
    width: 100%;
    padding: 0.5em 0;
  }
  footer .teaser-section {
  border-bottom: none;
  }
  footer .copyright {
    text-align: center;
  }
  .CopyrightNotice {
    padding-top: 0.5em !important;
  }
  footer.ui.vertical.segment {
    padding-top: 1.5em !important;
  }
  footer .ui.stackable.divided:not(.vertically).grid>.row>.column {
    padding-top: 1em !important;
    padding-bottom: 0.5em !important;
  }
  footer .ui.table:not(.unstackable) tr, .ui.table:not(.unstackable) tr {
    width: 100%;
  }
  footer .ui.table:not(.unstackable) tr>td, .ui.table:not(.unstackable) tr>th {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  footer .ui.table:not(.unstackable) tr:last-child {
    box-shadow: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  footer .column table tr td {
    display: block;
    padding: 0 1em;
  }
  .ui.table:not(.unstackable) tr>th, footer .ui.table:not(.unstackable) tr>td {
    padding-bottom: 0.3em !important;
  }
  footer .ui.basic.table tbody tr {
    border-bottom: none;
  }
  footer .column table tr {
    display: inline-block;
    margin-bottom: 1em !important;
  }
  footer .ui.message {
    text-align: center;
    padding: 0.4em 1.6em 0 .6em;
    margin-bottom: 1em;
  }
  .ui.list .list>.item>.icon+.content, .ui.list .list>.item>.image+.content, .ui.list>.item>.icon+.content, .ui.list>.item>.image+.content {
    padding: 0 0 0 .2em;
  }
  footer .sharing .ui.button {
    text-align: center;
  }
  footer .ui.labeled.icon.button, footer .ui.labeled.icon.buttons .button {
    padding-left: 3em !important;
  }
  footer .share {
    text-align: center;
    margin: 0.5em 0 1em;
  }
  .story-hint.video-teaser .hint-container {
    padding: 0 0 0 1em;
    line-height: 1.2em;
  }
  #vote-table.ui.table tr {
    box-shadow: none !important;
  }
}

@media screen and (min-width: 599px) {
  footer .column table {
      margin-top: 1em;
    }
    footer .column table tr td {
      vertical-align: top;
      padding-bottom: 1em;
    }
    footer .column table tr td:first-child {
      padding-right: 1em;
    }
    .ui.container.user-feedback-container {
      padding: 0 3em;
  }
}

@media screen and (min-width: 769px) {
    .ui.container.user-feedback-container {
      padding: 0 6em;
  }
}


  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .title h1{
      font-size: 90px;
    }
    .question-container{
      border-bottom:1px solid rgba( 0,0,0,0.1 );
    }
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {


  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {


  }