.card{
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  position: absolute;
  background-color: white;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  border: 12px solid white;
}

.card.style-0{
  background-image: linear-gradient(90deg, #f5f6f7 27.27%, #ffffff 27.27%, #ffffff 50%, #f5f6f7 50%, #f5f6f7 77.27%, #ffffff 77.27%, #ffffff 100%);
  background-size: 110.00px 110.00px;
  color: #f5f6f7;
}

.card.style-1{
  background-image: linear-gradient(90deg, #f5f6f7 27.27%, #ffffff 27.27%, #ffffff 50%, #f5f6f7 50%, #f5f6f7 77.27%, #ffffff 77.27%, #ffffff 100%);
  background-size: 110.00px 110.00px;
  color: #f5f6f7;
}

.card.style-2{
  background-image: linear-gradient(90deg, #f5f6f7 27.27%, #ffffff 27.27%, #ffffff 50%, #f5f6f7 50%, #f5f6f7 77.27%, #ffffff 77.27%, #ffffff 100%);
  background-size: 110.00px 110.00px;
  color: #f5f6f7;
}

.card .inner-card{
  margin: 15px;
}

.card .name{
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 30px;
  background-color: white;
}