.inlinescore{
  display: inline;
}

.inlinescore .panel{
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  padding: 3px 7px;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f5f6f7;
  box-shadow: 0px 2px 4px -2px grey;
}

.inlinescore .scorevs{
  width: 10px;
  text-align: center;
  margin: 0px 1px;
  height: 16px;
}

.inlinescore .scorevs .dot{
  width: 3px;
  height: 3px;
  margin:4px 3px;
}