.inlinescore{
  display: inline;
}

.inlinescore .panel{
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 4px;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f5f6f7;
  box-shadow: 0px 2px 4px -2px grey;
}

.inlinescore .scorevs{
  width: 6px;
  text-align: center;
  margin: 0px 1px;
  height: 14px;
  display: inline-block;
  line-height: 0px;
}

.inlinescore .scorevs .dot{
  display: inline-block;
  width: 3px;
  height: 3px;
  margin:1px 1px;
}