.result{
  background-color: #f5f6f7;
  min-height: 80vh;
  background-color: #ffce4d;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result .resume{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: transparent;
  padding-bottom: 0px;
  width: 100%;
  min-height: 80vh;
  /*z-index: 1;*/
}

.result .portrait{
  display: flex;
  z-index: 0;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 0px;
  min-height: 80vh;
}

.result .resume-content{
  display: flex;
  box-shadow: 0px 5px 12px rgba(0,0,0,0.3);
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  color: #f5f6f7;
  height: 80vh;
  /*background-image: none !important;
  background-color: #333;*/
}

.result .resume .name{
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.25;
  color: #f5f6f7;
  margin-bottom: 20px;
}

.result .resume .country{
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  line-height: 1;
  color: #f5f6f7;
}

.result .resume .bio{
  margin-top: 40px;
  text-transform: none;
  font-size: 20px;
  font-weight: 300;
}

.portrait-content{
  box-shadow: 3px 0px 8px rgba(0,0,0,0.2);
  background-color: white;
  flex-direction: column;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 0px;
  color: #333;
  height: 100%;
  text-align:center;
}

.portrait .firstname, .portrait .lastname, .portrait .country{
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1;
}

.portrait .country{
  font-size: 20px;
}

.small-message .ui.text.container{
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16px;
  text-transform: none;
  opacity: 0.75;
  margin-bottom: 20px;
  padding-top: 20px;
}

.stats-header{
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
}

.stats-header .stats-label{
  font-family: "Archivo Narrow", sans-serif;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.stats-header .stats-value{
  color: #333;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.stats-header .stats-bloc{
  padding-left: 0px;
  border-bottom: 0px;
}

.stats .stats-label{
  font-family: "Archivo Narrow", sans-serif;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.stats .stats-value{
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  text-align: left;
}

.stats-bloc{
  padding-left: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f2f3;
  padding-bottom: 10px;
}

.portrait-content .ta.sharing{
  margin-top: 20px !important;
}

.result .portrait-content i.icon{
  font-size: 40px;
  color: #333 !important;
}

span.bullet{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  display: inline-block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .stats-header .stats-value{
    font-size: 50px;
  }

  .result{
    flex-direction: row;
  }
  .result .portrait{
    max-width: 600px;
    padding: 20px 20px 20px 0px;
  }
  .result .portrait-content{
    padding-bottom: 20px;
  }
  .result .resume{
    max-width: 600px;
    padding: 20px 0px 20px 20px;
  }
  .result .resume-content{
    width: 100%;
  }
  .result .resume .name{
    font-size: 90px;
  }
  .stats-value img{
    width: auto;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}