.pronocard{
  display: inline-block;
  height: 300px;
  width: 200px;
  background-color: white;
  box-shadow: 3px 3px 16px -8px grey, 0px 8px 0px rgba(0,0,0,0.1);
  border-radius: 2px;
  cursor: pointer;
  margin: 10px 10px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  transition: .05s ease-in transform;

  position: relative;
  box-sizing: border-box;
}

.card-title{
  padding: 20px;
  color: #222222;
  font-weight: 400;
  font-size: 24px;
  margin-top: 120px;
}

.pronocard ul, .pronocard ul li{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.pronocard:hover{
  transform: rotate(10deg) translate(0px, -50px);
}

.cardface {
  position: absolute;
  backface-visibility: hidden;
}

.cardface_back ul li:first-child{
  font-weight: 800;
}

.cardface_front {
  background-size: 60%;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
}

.cardface_back {
  transform: rotateY( 180deg );
  width: 100%;
}

.pronocard.is-flipped {
  transition: transform .45s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.pronocard:nth-child(2) .cardface_front{
  background-image: url( "./images/issue-04.png" );
}
.pronocard:nth-child(3) .cardface_front{
  background-image: url( "./images/issue-05.png" );
}
.pronocard:nth-child(4) .cardface_front{
  background-image: url( "./images/issue-06.png" );
}
.pronocard:nth-child(5) .cardface_front{
  background-image: url( "./images/issue-04.png" );
}
.pronocard:nth-child(6) .cardface_front{
  background-image: url( "./images/issue-04.png" );
}