@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

.question{
  position: relative;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  width: 80%;
  height: auto;
  min-height: 250px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  border-left: 6px solid #333333;
}

.question .header{
  position: relative;
  margin-top: 20px;
  padding: 15px;
}

.question h2{  
  font-weight: 400;
  font-size: 34px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.question-number{
  margin-top: 20px;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .question{
    width: 400px;
  }
}


/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

}


/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}