.videoWrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 52.35%;
    padding-top: 30px;
    position: relative;
    margin-top: 40px;
}

.videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cls-1, .cls-2{
  animation-name: staranim;
  animation-duration: .5s;
  animation-iteration-count: 1;
  transform-origin: center;
  box-shadow: 10px 10px 10px rgba( 0,0,0,0.9 );
}

.cls-1 {
  fill: #171717;
}

.cls-2 {
  fill: #ffce4c;
}

#star-3{ animation-delay: .2s; }
#star-4{ animation-delay: .4s; }
#star-2{ animation-delay: .6s; }
#star-5{ animation-delay: .8s; }
#star-1{ animation-delay: 1s; }


@keyframes staranim {
    0% {
        opacity: .5;
        /*transform: scale(.9);*/
    }
    100% {
        opacity: 1;
        /*transform: scale(1.0);*/
    }
}





.cls-1, .cls-2 {
  fill: #1a1a1a;
}

.cls-1 {
  stroke: #1a1a1a;
}

.cls-1, .cls-6 {
  stroke-miterlimit: 10;
}

.cls-3 {
  fill: #ffce4c;
}

.cls-4 {
  opacity: 0.04;
}

.cls-5 {
  fill: #c1272d;
}

.cls-6 {
  fill: none;
  stroke: #ffce4c;
  stroke-linecap: round;
  stroke-width: 2px;
}