.videoWrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 52.35%;
    padding-top: 30px;
    position: relative;
    margin-top: 40px;
}

.videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}